#container {
  width: 900px;
  height: 950px;
}
.jsavline {
  height: 45px;
  margin: 0 0 0 20px;
}

#procontrols {
  text-align: center;
}

.jsavgraph {
  margin-top: 0;
  margin-bottom: 0;
}
.jsavgraph svg {
  z-index: 0;
}

.legendtext {
  z-index: 110;
}
.textcentering {
  text-align: center;
}
.jsavgraph .jsavedge, .legend-edge {
  stroke-width: 10;
  stroke: #e2d5ae;
}
.jsavgraph .jsavedge.fringe, .legend-fringe {
  stroke-width: 10;
  stroke: #d7a939;
}
.jsavgraph .jsavedge.spanning, .legend-spanning {
  stroke-width: 16;
  stroke: #78c679;
}
.jsavgraph .jsavedge.compare {
  stroke: #d9bd73;
  stroke-width: 16;
}
.jsavgraph .jsavnode, .jsavmatrix .jsavnode {
  background-color: #e2d5ae;
}
.jsavgraph .jsavnode.fringe, .jsavmatrix .jsavnode.fringe {
  background-color: #d59f0d;
}
.jsavgraph .jsavnode.spanning, .jsavmatrix .jsavnode.spanning {
  background-color: #78c679;
}
.jsavgraph .jsavnode.focusnode {
  border: 2px solid;
}

/* Comparison operation in the model answer, used for
 * .jsavnode, .jsavindex, and span.compare in the narration text. */
.compare, .jsavgraph .jsavnode.compare, .jsavmatrix .jsavnode.compare {
  background-color: #d9bd73;
}
span.compare {
  padding: 3px;
}

.jsavindex.updated {
  color: white;
  background-color: black;
  font-weight: bold;
}

.jsavtree .jsavnode.updated {
  color: white;
  background-color: black;
  font-weight: bold;
}

.jsavgraph .jsavedgelabel {
  font-size: 16px;
  background-color: transparent;
  text-shadow: 0 0 5px #fff;
}
.jsavautoresize .jsavnode {
  min-width: 45px;
  min-height: 45px;
}

.jsavtree {
  min-width: 400px;
  min-height: 250px;
  margin: 0px;
}

.bintree {
  min-width: 400px;
  min-height: 250px;
  max-width: 400px;
  max-height: 250px;
  margin: auto;
  background-color: #ffffff;
  border: 1px #000000 solid;
}

.prioqueue {
  text-align: center;
  margin: 0px;
}

.jsavtree svg {
  margin: 10px;
}

.jsavtreenode {
  margin: 10px;
}

.avcontainer .jsavhorizontalarray > li:first-child {
  max-width: none !important;
  min-width: 70px !important;
}

#dequeueButton {
  float: right;
  position: relative;
  margin: 15px;
}

.jsavmodelanswer .legend {
  position: absolute;
  left: 650px;
  z-index: 5;
}

.jsavbinarytree {
  background-color: white;
  border: 1px solid black;
}
#dequeueButton {
  z-index: 110;
}
