#container {
  width: 1300px;
  min-height: 700px;
}

.codeblock {
  float: left;
  margin: 1em;
}

.legend {
  background-color: #FFFFFF; 
  /* border: 1px solid; */
  height: 115px;
  margin-left: 40px;
}

.subheading {
  margin-left: 40px;
}

.jsavgraph {
  margin-top: 10px;
}
