#container {
    width: 1000px;
    height: 900px;
}

.jsavgraph {
    min-width: 500px;
    min-height: 500px;
}

.codeblock {
    float: left;
}

.neighbourlistblock {
    float: left;
    clear: left; /* to place the block under pseudo code */
    margin-left: 40px; 
}